@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: #FBB040;
  color: white;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  margin: 0 auto 0 auto;
}

div.wide-header {
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FBB040;
  padding: 10px 0;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  height: 48px;
  /* margin-bottom: 30px; */
}

nav a {
  color: #FBB040;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 130px;
  padding-right: 130px;
}

#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 700;
  width: 80%;
  height: 450px;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("../images/munch.png");
}

.slide2 {
  background-image: url("../images/bali-traveller.png");
}

.slide3 {
  background-image: url("../images/granular.png");
}

.slide4 {
  background-image: url("../images/last-studio.png");
}

.slide5 {
  background-image: url("../images/javascript-slider.png");
}

.slide6 {
  background-image: url("../images/wellby.png");
}

.slide7 {
  background-image: url("../images/mistry-blog.png");
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 28px;
  color: #ffffff;
  background-color: #FBB040;
  padding: 8px 30px;
  margin-bottom: 30px;
}

.slide-content p {
  font-size: 15px;
}

.slide-content span a {
  text-decoration: none;
  color: white;
}

.slide-content span a:hover {
  color: black;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  font-size: 50px;
}

#arrow-left {
  /* border-width: 30px 40px 30px 0;
  border-color: transparent #ffffff transparent transparent; */
  left: 30px;
}

#arrow-right {
  /* border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #ffffff; */
  right: 54px;
}

footer {
  margin: 30px 0;
}

.social-links {
  margin-bottom: 15px;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 15px;
  text-transform: uppercase;
}

footer a:hover {
  color: black;
}

i {
  font-size: 25px;
  padding: 0 15px;
  /* margin-top: 15px; */
  color: white;
}

i:hover {
  color: black
}

@media screen and (max-width: 1100px) {
  body {
    width: auto;
  }

  header {
    margin-top: 0;
    margin-bottom: 0;
  }

  img, iframe {
    max-width: 100%;
  }

  div.contact {
    padding: 35px;
  }

  /* Change the background color to white on the hover */
  nav a:hover {
    background-color: white;
  }
}

@media screen and (max-width: 800px) {
  #slider, .wrap, .slide-content {
    width: 600px;
    height: 450px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.2em;
    color: white;
  }

  header {
    padding: 20px 0;
  }

  h2 {
    display: none;
  }

  div.wide-header {
    background-color: #FBB040;
  }

  nav a {
    color: white;
  }

  #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 700;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}